/* @font-face {
  font-family: "Shentox-Regular";
  src: url(assets/fonts/shentox-regular.ttf);
}

@font-face {
  font-family: "ARS-Marquette-Regular";
  src: url(assets/fonts/ars-marquette-regular.ttf);
}

@font-face {
  font-family: "Avalon-Bold";
  src: url(assets/fonts/avalon-bold.ttf);
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.spacebetween {
  justify-content: space-between;
}

.grid-container {
  display: grid;
}

.full-width {
  width: 100%;
}
/* The header_nav */
.page-header {
  background-color: #eee;
}

.top-nav {
  background-color: #131313;
  font-family: ARS-Marquette-Regular, sans-serif;
  font-size: 0.8rem;
  display: none;
  color: #aeaeae;
}

.footer-links a {
  font-family: Shentox-Regular, sans-serif;
  text-decoration: none;
  color: #aaa;
  font-size: 0.7rem;
  margin: 0 0.3rem;
}

.social-media a {
  background-color: #333;
  border: 2px solid #333;
  border-radius: 100%;
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  margin: 0 0.2rem;
}

.highlights h5 a {
  text-decoration: none;
  font-family: Avalon-Bold, sans-serif;
  font-weight: bolder;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.1;
  letter-spacing: -0.1rem;
}

.highlights span,
.highlights span a {
  font-family: ARS-Arquette-Regular, sans-serif;
  font-size: 0.7rem;
  color: hsla(0, 0%, 100%, 0.6);
}

.article-item section a {
  text-decoration: none;
}

.top-nav a:hover {
  color: #eee;
}

.down-triangle {
  font-size: 50%;
  align-self: center;
}

.mid-nav {
  width: 100%;
  background-color: #fcfcfc;
}

.logo {
  width: 5rem;
  padding: 0 1.5rem;
  background-color: #000;
}

.mid-nav-links {
  width: 100%;
  justify-content: flex-end;
}

.mid-nav-left-links {
  display: none;
}

.mid-nav-left-links a:hover {
  color: #000;
}

.search-icon {
  border: none;
  border-left: 2px solid #eee;
  background-color: #fcfcfc;
  padding: 0.8rem;
}

.search-icon img {
  height: 1rem;
}

.hamburger-icon {
  border: none;
  border-left: 2px solid #eee;
  background-color: #fcfcfc;
  padding: 0.8rem;
}

.hamburger-icon img {
  height: 1rem;
}

.bottom-nav {
  background-color: #fd3;
  color: #201c07;
  text-align: center;
  padding: 1.5rem 0;
  font-family: ARS-Marquette-Regular, sans-serif;
  font-size: 0.8rem;
}

/* The highlights area */
.highlights {
  grid-template-areas: "auto" "auto" "auto";
  grid-gap: 0.5rem;
}

.copyright-text img {
  height: 0.55rem;
}

.social-media img {
  width: 100%;
  height: 100%;
}

.highlights section img {
  height: 1rem;
}

.article-logo {
  height: 5rem;
  width: 20rem;
}

.article-item {
  align-items: flex-end;
  height: 10rem;
  padding: 1rem;
}

.article-item h5 {
  margin-bottom: 0.5rem;
}

.social-media a:hover {
  background-color: #171717;
}

.footer-links a:hover {
  color: #eee;
}

.article-item header section span a:hover {
  color: #fff;
}

.article-item aside span {
  color: #fff;
}

.article-item section {
  align-items: center;
}

.article-item section span {
  margin: 0 0.3rem;
}

.article-opal aside span {
  font-size: 0.9rem;
}

.article-item section span:first-of-type {
  margin-left: 0;
}

.article-opal {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("assets/images/opal.png");
  background-size: cover;
  justify-content: flex-end;
  align-items: stretch;
}

.article-opal aside {
  display: none;
  justify-content: space-between;
}

.article-cookie-killer {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("assets/images/cookie-killer.png");
  background-size: cover;
}

.article-mac-app {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("assets/images/mac-app.png");
  background-size: cover;
} */
